.header_menu {
  height: 2rem;
  background: #40403c;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 0.5rem;
}
.header_menu button {
  background: #40403c;
  color: #b6b3ab;
  box-shadow: inset 0px 1px 0px 0px #40403c;
  border-radius: 0.3rem;
}
.header_menu button:focus {
  outline: none;
}
