html {
  box-sizing: border-box;
}

body {
  position: relative;
  height: stretch;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.full_height {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input[type=text]:focus::placeholder {
  color: transparent;
}

ol {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

.actions {
  display: grid;
  grid-gap: 1rem;
}

.actions.two {
  grid-template-columns: 1fr 1fr;
}
