.arrow {
  border: solid #b6b3ab;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.wrapper {
  height: 2rem;
  width: 2rem;
  background: none;
  border: none;
  outline: none;
}

.wrapper:hover {
  outline: auto;
}
