.arrow {
  border: solid #b6b3ab;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
i.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.wrapper {
  width: 2rem;
  background: none;
}
.wrapper.up,
.wrapper.down {
  border: none;
  background: none;
  background: transparent;
}
.wrapper.up:focus,
.wrapper.down:focus {
  outline: none;
}
.wrapper.up:hover,
.wrapper.down:hover {
  outline: auto;
}
.wrapper:hover {
  outline: auto;
}
