.default {
  border-radius: 0.3rem;
}
.warn:not([disabled]) {
  background: #cc0000;
  color: #FFFFFF;
}

.dragIcon {
  background: none;
  border: none;
  outline: none;
}
.dragIcon:hover {
  cursor: grab;
}
.checkIcon:before {
  content: "\2714";
  font-size: x-large;
}

.searchIcon {
  fill: #b6b3ab;
}

.menu_icon:before {
  content: "\2630";
  font-size: x-large;
}

.action:enable {
  background: #40403c;
  color: #b6b3ab;
  box-shadow: inset 0px 1px 0px 0px #40403c;
}
