.default {
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.warn {
  background: #cc0000;
  color: #FFFFFF;
}

.dragIcon {
  background: none;
  border: none;
  outline: none;
}
.dragIcon:hover {
  cursor: grab;
}
