.main_menu {
  position: sticky;
  z-index: 1;
  top: 0;
  background: #40403c;
  flex-grow: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  min-height: 2rem;
}
.main_menu > div,
.main_menu > div > div {
  display: flex;
}
.main_menu button {
  background: #40403c;
  color: #b6b3ab;
  box-shadow: inset 0px 1px 0px 0px #40403c;
  border-radius: 0.3rem;
}
.main_menu button:focus {
  outline: none;
}
.main_menu button:hover {
  outline: none;
}
.new_list_name {
  position: absolute;
}
.center {
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
