.container {
  display: flex;
  width: 30%;
  height: 1.8rem;
  margin: 0.5rem 0;
}
.search_box {
  padding-left: 2rem;
  width: stretch;
  height: stretch;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: #f2f1f0;
}
.close {
  display: flex;
  align-self: center;
  position: absolute;
  right: 0;
}
.close button {
  border: none;
  background: none;
  background: transparent;
}
.close button:focus {
  outline: none;
}
.close button:hover {
  outline: auto;
}
